@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
*{
  margin: 0;
  padding: 0;
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(90deg, #000000 17.76%, rgba(0, 0, 0, 0.687449) 41.44%, rgba(196, 196, 196, 0) 100%); */
  /* background: #000000; */
/* background: black; */
}


#active:active {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {

  height: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  /* height: 63px; */
  background: linear-gradient(90.53deg, rgba(0, 0, 0, 0.75) 0.45%, rgba(102, 80, 165, 0.75) 105.51%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.dramatic_lable {
  font-family: 'Griffy';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  /* identical to box height */


  color: #FFC907;
}

.links {
  /* margin-left: 60px; */
  display: flex;
  gap: 37px;
}

.a-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #A1B1CB;
}

.input {
  /* !important border: none; */
  outline: none;
  /* border:0px solid; */
  border: none;
  margin-left: 19px;
  background-color: #3B567D;

  color:
    #A2B3CD;
  border: none;
  /* mar */
  /* width:100px; */
}

.input-icons {
  width: 324px;
  height: 37px;
  border-radius: 18.5px;
  background: #3B567D;
  display: flex;
  /* gap :10px; */
  justify-content: space-between;
  align-items: center;

}

.all-input {

  margin-left: 67px;
  display: flex;
  gap: 55px;
  align-items: center;
}


/*  left side bar start */


.leftside-bar {
  Width: 117px;
  Height: 315px;
  Left: -32px;
  position: absolute;
  /* left: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 22px;
  align-items: end;
  gap: 38px;
  background: linear-gradient(2.87deg, #130B29 9.89%, #5436A9 100%, #5E47A1 100%);
  border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
}
.leftside-bar img{
  margin-right: 29px;
}

.posterImg {
  position: absolute;
  top: 0;
  z-index: -1;

  width: 100%;
  height: 130vh;

}


.all-tag{
  display: flex;
  justify-content: center;
  width: 89%;
  border: 1px solid;
  margin-left: 122px;
}

.imagedata{
  display: flex;
  justify-content: center;
  width: 89%;
  /* border: 1px solid red; */
  margin-left: 122px;
}

/*  movie image details */

.image-details{

  margin-top: 22px;
      /* border: 1px solid; */
      margin-left: 123px;
      display: flex ;
      flex-direction: column;
      align-items: start;
      gap: 16px
    }

    /* } */
    
 .movie-type{
  display: flex;
  flex-direction: column;
 }   
/* } */


/* button list*/
.buttons-list{
  /* margin-top: ; */
  display: flex;
  gap:21px
}


.play-btn{width: 158px;
  height: 50px;
  left: 134px;
  top: 480px;
  
  background: #5436A9;
  border-radius: 30px;
  border: none;
/* text */
}

.play-btn-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* text-decoration:#FFFFFF ; */
  color:whitesmoke ;

  /* font-c/ */
  /* color: ; */

}

.mylist-btn
{
  width: 155px;
  height: 50px;
  left: 313px;
  top: 486px;
  
  background: #5C5C5C;
  border-radius: 30px;
  border: none;
}

.ratings{
  display: flex;
  gap:10px;
  align-items: center;
  
}

.avg-rating{width: 31px;
  height: 24px;

  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  
  color: #FFC907;
  
}
.rting-u{

  border-radius: 6px;
  border:1px solid  #FFFFFF;
  padding: 1px 4px 1px 4px;
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.rting-4k{
 
  border-radius: 6px;
  border:1px solid  #FFFFFF;
  padding: 1px 4px 1px 4px;
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.year{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #959595;
}








/* card component start
 */
 .moviesToWatch{

  margin-top: 32px;
  margin-left: 124px;
display: flex;
flex-direction: column;
gap: 21px;

background: rgba(11, 15, 22, 0.47);
box-shadow: 8px -8px 10px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(25px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 24px;
  
}


.must-watch-start{
  display: flex;
  padding-top: 21px;
justify-content: space-between;
align-items: center;
}
.filterbtn button{
  width: 139px;
  height: 40px;
  background: #5C5C5C;
  border-radius: 30px;
 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  
  color: #FFFFFF;

  display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}



.btn-all{
/* 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px; */


  display: flex;
  /* width: 133px; */
  /* height: 40px; */
  background: #5C5C5C;
  border-radius: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #FFFFFF;
  padding: 10px 25px;

}
  
/* } */
  
 /* } */



.slideBar{
  /* margin-top: 26px; */
  /* height: 302px; */
  margin-left: 26px;
  display: flex;
  overflow: hidden;
gap:30px

}

/* start  must watch card*/
.must-watch-span{
  /* margin-top: 26px; */
  margin-left: 23px;
  color: whitesmoke;
}

.card{
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* margin-left: 23px;  */
}

.movieCard{
  /* height: 300px; */
  /* height: 168px; */
  /* border: 1px solid green; */
}

.moiveTtile-p{
  /* text-align: center; */
  color: #FFFFFF;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
width: 168px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
/* identical to box height */


color: #FFFFFF;
}

.realeasDate p{

  color: #FFFFFF;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
white-space: nowrap;
overflow: hidden;
}

.IMDB{
display: flex;
align-items: center;
gap :5px
}
.movieRate p{
  
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 13px;

color: #FFC907;

}
.moiveRight{
  display: flex;
  gap:5px
}
.movieRating{
  display: flex;
  align-items: center;
  justify-content: space-between;
}